:root {
  --primary-50: 237 249 255;
  --primary-100: 214 239 255;
  --primary-200: 182 229 255;
  --primary-300: 132 214 255;
  --primary-400: 74 190 255;
  --primary-500: 32 158 255;
  --primary-600: 9 125 255;
  --primary-700: 2 96 230;
  --primary-800: 9 81 196;
  --primary-900: 14 72 154;
  --primary-950: 14 4 93;

  --surface-0: 255 255 255;
  --surface-50: 249 250 251;
  --surface-100: 243 244 246;
  --surface-200: 229 231 235;
  --surface-300: 209 213 219;
  --surface-400: 156 163 175;
  --surface-500: 107 114 128;
  --surface-600: 75 85 99;
  --surface-700: 55 65 81;
  --surface-800: 31 41 55;
  --surface-900: 17 24 39;
  --surface-950: 8 8 8;

  --text-color: 0 0 0;
}

:root[class*='dark'] {
  --surface-0: 8 8 8;
  --surface-50: 17 24 39;
  --surface-100: 31 41 55;
  --surface-200: 55 65 81;
  --surface-300: 75 85 99;
  --surface-400: 107 114 128;
  --surface-500: 156 163 175;
  --surface-600: 209 213 219;
  --surface-700: 229 231 235;
  --surface-800: 243 244 246;
  --surface-900: 249 250 251;
  --surface-950: 255 255 255;

  --text-color: 255 255 255;
}
